body {
  --primary: #9D174D;
}

.chat-window {
  max-height: 90vh;
  @media screen and (min-width: 480px) {
    max-height: 70vh;
  }
  min-height: 50vh;
  transition: ease-in-out 1s;
  width: 100%;
  @media screen and (min-width: 480px) {
    width: 500px;
  }
}
