body {
  --primary: #9D174D;
}

.chat-window {
  max-height: 90vh;
  @media screen and (min-width: 480px) {
    max-height: 70vh;
  }
  min-height: 50vh;
  transition: ease-in-out 1s;
  width: 100%;
  @media screen and (min-width: 480px) {
    width: 500px;
  }
}

.chat-window {
    display: block;
    animation: fadeInFromNone 0.5s ease-out;
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}
