#floatingButton {
  background-color: white;
  border-radius: 50%;
  border: 2px solid #9d174d;
  padding: 10px;
  width: 70px;
  height: 70px;
  cursor: pointer;
  margin-left: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#floatingButton:hover > svg {
  opacity: 0.8;
}
#floatingButton:before,
#floatingButton:after {
  content: "";
  position: absolute;
  left: 0;
  border-radius: 50%;
  background: white;
  padding: 16px;
  width: var(--pseudo-width, 68px);
  height: var(--pseudo-height, 68px);
  z-index: -1;
}
#floatingButton:before {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
}
#floatingButton:after {
  filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.3));
}

#floatingButton.floatingButton-top {
  margin-bottom: 20px;
  align-self: end;
}
#floatingButton.floatingButton-center {
  align-self: end;
  margin-top: 20px;
  @media screen and (min-width: 480px) {
    align-self: center;
    margin-top: 0;
  }
}
#floatingButton.floatingButton-bottom {
  margin-top: 20px;
  align-self: end;
}

#floatingButton.floatingButton:hover {
  background-color: lightgrey;
  border: 2px solid #4d7a9a;
}
