body {
  --primary: #9D174D;
  --primary_hover: #4d7a9a;
}

.floating-button {
  background-color: white;
  border-radius: 50%;
  border: 2px solid var(--primary);
  padding: 10px;
  width: 70px;
  height: 70px;
  cursor: pointer;
  margin-left: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.floating-button:before,
.floating-button:after {
  content: "";
  position: absolute;
  left: 0;
  border-radius: 50%;
  background: white;
  padding: 10px;
  width: 68px;
  height: 68px;
  z-index: -1;
}
.floating-button:before {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.30));
}
.floating-button:after {
  filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.30));
}

.floating-button-top {
  margin-bottom: 20px;
  align-self: end;
}
.floating-button-center {
  align-self: end;
  margin-top: 20px;
  @media screen and (min-width: 480px) {
    align-self: center;
    margin-top: 0;
  }
}
.floating-button-bottom {
  margin-top: 20px;
  align-self: end;
}

.floating-button:hover {
  background-color: lightgrey;
  border: 2px solid var(--primary_hover);
}
