body {
  --primary: #9D174D;
  --primary_hover: #4d7a9a;
}

.floating-button {
  background-color: white;
  border-radius: 50%;
  border: 2px solid var(--primary);
  padding: 10px;
  width: 70px;
  height: 70px;
  cursor: pointer;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.floating-button-top {
  margin-bottom: 20px;
  align-self: end;
}
.floating-button-center {
  align-self: end;
  margin-top: 20px;
  @media screen and (min-width: 480px) {
    align-self: center;
    margin-top: 0;
  }
}
.floating-button-bottom {
  margin-top: 20px;
  align-self: end;
}

.floating-button:hover {
  background-color: lightgrey;
  border: 2px solid var(--primary_hover);
}
