body {
  --primary: #9D174D;
}

.floatingContainer {
  overflow: visible;
  z-index: 9999;
  pointer-events: none;
  position: fixed;
  height: fit-content;
  width: 100vw;
  display: flex;
  border-radius: 5px;
  right: 0;

  @media screen and (min-width: 480px) {
    width: fit-content;
    padding-bottom: 10px;
    height: fit-content;
  }
}

.floatingContainer * {
  pointer-events: all;
}


.floatingContainer-top {
  flex-direction: column-reverse;
  top: 0;
}

.floatingContainer-center {
  flex-direction: column;
  bottom: 0;

  @media screen and (min-width: 480px) {
    flex-direction: row;
    top: 50%;
    transform: translateY(-50%);
    align-items: center;
  }
}


.floatingContainer-bottom {
  bottom: 0;
  flex-direction: column;
}
