body {
  --primary: #9D174D;
}
.floatingContainer {
  z-index: 9999;
  position: fixed;
  height: fit-content;
  width: 100vw;
  max-height: calc(100vh - 50px);
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  right: 0;
  padding-bottom: 10px;
  @media screen and (min-width: 480px) {
    width: fit-content;
  }
}

.floatingContainer-top {
  flex-direction: column-reverse;
  top: 0;
}

.floatingContainer-center {
  flex-direction: column;
  bottom: 0;
  @media screen and (min-width: 480px) {
    flex-direction: row;
    top: 50%;
    transform: translateY(-50%);
    align-items: center;
  }
}


.floatingContainer-bottom {
  bottom: 0;
  flex-direction: column;
}
