#messageContainer {
  display: flex;
  width: 100%;
  margin-top: 8px;
  color: rgb(75, 85, 99);
}

#messageContainer .aiMessageContainer {
  display: flex;
  width: 100%;
  margin-top: 8px;
}

#messageContainer .humanMessageContainer {
  display: flex;
  width: 100%;
  margin-top: 8px;
  margin-left: auto;
  justify-content: end;
}

#messageContainer .pl-1 {
  padding-left: 4px;
}

#messageContainer .humanMessage {
  background-color: rgb(209, 213, 219);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  padding: 12px;
}

#messageContainer .icon {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 9999px;
  flex-shrink: 0;
}

#messageContainer .textContainer {
  padding: 12px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  margin-left: 12px;
}

#messageContainer .error {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
}

#chatMessageContainer {
  max-width: calc(100% - 40px);
  ;
}

#messageContainer .loading {
  width: 40px;
  height: 40px;
  border: 4px dashed black;
  border-radius: 9999px;
  animation: spin 1s linear infinite;
  margin: 16px;
}

#messageContainer .text {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 0;
}

#messageContainer .retryButton {
  text-decoration: underline;
  color: rgb(75, 85, 99);
  line-height: 1;
  font-size: 14px;
  padding-top: 4px;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
