.reactMarkDown a {
  text-decoration: underline;
}

div.reactMarkDown ul, div.reactMarkDown ol {
  list-style: revert;
  margin: revert;
  padding: revert;
}

div.reactMarkDown h1, div.reactMarkDown h2 ,div.reactMarkDown h3, div.reactMarkDown h4, div.reactMarkDown h5 {
  margin-top: 0.3em;
  margin-bottom: 0.2em;
  font-weight: bold;
}

div.reactMarkDown h1 {
  font-size: 1.5em;
}

div.reactMarkDown h2 {
  font-size: 1.3em;
}

div.reactMarkDown h3, div.reactMarkDown h4, div.reactMarkDown h5 {
  font-size: 1.1em;
}

div.reactMarkDown blockquote {
  font-style: oblique;
  margin-left: 1em;
}

.hermine-chat-container {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
}

.hermine-chat-container p, .hermine-chat-container pre {
  margin: 0;
  font-size: 16px;
}


.hermine-chat-container code, .hermine-chat-container pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em;
  white-space: break-spaces;
  font-size: 16px;
}

.hermine-chat-container button {
  text-transform: none;
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}

.hermine-chat-container form input {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

.hermine-chat-container a {
  color: inherit;
  text-decoration: inherit;
}

.hermine-chat-container *,
.hermine-chat-container ::before,
.hermine-chat-container ::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css.L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}
